
@import './__css_test__copy.css';
@import './__css_test__copy.css';

.a.b {/*2*/
    color: #ff0;
}

.b {/*4*/
    color: #00f;
    font-size: 16px;
}
.a, .c, .a .c, .c {/*3*/
    color: #f00;
    font-size: 14px;
}
.a .b {/*1*/
    color: #fa0;
}
.c {
    font-size: 24px;
}

